pytest
numpy
dbg
cholespy
ipywidgets
notebook
matplotlib
torch
torchvision
torchaudio
gpytoolbox
sphinx

# For building docs
enum-tools[sphinx]
furo
sphinxcontrib-katex
sphinxcontrib-svg2pdfconverter
typing_extensions
